<div class="reservas-container">
  <!-- TITULO -->
  <div class="titulo-espacios">
    <div class="linea"></div>
    <h2>Espacios Públicos</h2>
    <div class="linea"></div>
  </div>

  <!-- Contenedor de imágenes y botones -->
  <div class="lugares-container">
    <div class="lugar">
      <div class="imagen-container">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Plaza_Col%C3%B3n_en_Cochabamba.jpg/2560px-Plaza_Col%C3%B3n_en_Cochabamba.jpg"
          alt="Plaza Colón">
      </div>
      <button class="espacio-btn" [routerLink]="['/reservas/plazas']" [queryParams]="{ tipo: 'plaza' }">
        Plazas
      </button>
    </div>

    <div class="lugar">
      <div class="imagen-container">
        <img
          src="https://www.lostiempos.com/sites/default/files/styles/noticia_detalle/public/media_imagen/2018/3/3/geral_dep_1_lopezzzzzzz.jpg?itok=Qp6Ba46u"
          alt="Estadio Felix Capriles">
      </div>
      <button class="espacio-btn" [routerLink]="['/reservas/areas-deportivas']" [queryParams]="{ tipo: 'deportivo' }">
        Áreas Deportivas
      </button>
    </div>

    <div class="lugar">
      <div class="imagen-container">
        <img
          src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/e0/73/04/el-cristo-de-la-concordia.jpg?w=500&h=500&s=1"
          alt="Cristo de la Concordia">
      </div>
      <button class="espacio-btn" [routerLink]="['/reservas/cultural']" [queryParams]="{ tipo: 'cultural' }">
        Cultural
      </button>
    </div>
  </div>
</div>
